/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* main */
body {
    background: #121212;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #fff;
}

a {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.brand {
    display: flex;
    text-decoration: none;
}

.brand-text {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 8px;
}

nav {
    display: flex;
}

.nav-item {
    padding-top: 4px;
    letter-spacing: -1px;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 24px;
}

.versus {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.versus-sign {
    margin-left: 50px;
    margin-right: 50px;
}

.separator {
    text-align: center;
    border-top: 3px solid #fff;
}

.separator > img {
    transform: translateY(-30px);
}

.lead {
    max-width: 680px;
    margin: auto;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-login > input[type="email"] {
    line-height: 1.6;
    width: 300px;
    padding-left: 5px;
}

.form-login > button[type="submit"] {
    cursor: pointer;
    line-height: 1.6;
    border: none;
    padding: 3px 12px;
}

.form-login > button[type="submit"]:hover {
    background: #e7e7e7;
}
