{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ request.site.name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>
<body>
    <header>
        <a class="brand" href="{% url 'main:index' %}">
            <div class="brand-image">
                <img src="{% static "img/logo.svg" %}" alt="logo" width="30px">
            </div>
            <div class="brand-text">{% trans "Photoduel" %}</div>
        </a>
        <nav>
            {% if request.user.is_authenticated %}
            <a href="{% url "tokenauth:logout" %}" class="nav-item">{% trans "Log out" %}</a>
            {% else %}
            <a href="{% url "main:login" %}" class="nav-item">{% trans "Log in / Sign up" %}</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
