{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{{ contest.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ contest.name }}</h1>
    <div class="subtitle">
        {{ contest.get_rendered_description|safe }}
    </div>

    {% if contest.photo_set.exists %}
    <p>
    {% if contest.stage == contest.SUBMISSION %}
    {% trans "Voting on this contest is not open yet." %}
    {% elif contest.stage == contest.VOTING %}
    <a href="{% url "main:duel" contest.id %}">Vote now!</a>
    {% else %}
    {% trans "Voting on this contest has ended." %}
    {% endif %}
    </p>
    {% endif %}

    {% for photo in contest.photo_set.all %}
    <img src="{{ photo.url }}"/>
    {% empty %}
    {% trans "There are no photos in this contest yet." %}
    {% endfor %}
</div>
{% endblock %}
