{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Fight!" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Duel" %}</h1>

    <div class="subtitle">
        {% trans "Which photo is better?" %}
    </div>

    <form method="POST" action="{% url "main:duel" contest.id %}">{% csrf_token %}
        <input type="hidden" name="winner_id" value="{{ photo1.id }}" />
        <input type="hidden" name="loser_id" value="{{ photo2.id }}" />
        <button type="send"><img src="{{ photo1.url }}"/></button>
    </form>

    <form method="POST" action="{% url "main:duel" contest.id %}">{% csrf_token %}
        <input type="hidden" name="winner_id" value="{{ photo2.id }}" />
        <input type="hidden" name="loser_id" value="{{ photo1.id }}" />
        <button type="send"><img src="{{ photo2.url }}"/></button>
    </form>

    <a href="{{ contest.get_absolute_url }}">Back to the contest</a>
</div>
{% endblock %}
