{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Photography Contests" %}</h1>
    <div class="subtitle">
        {% trans "Submit your photographs and let the community vote for the best!" %}
    </div>

    <div class="versus">
        <img class="versus-one" src="{% static "img/versus-pic-one.svg" %}" alt="versus pic one" height="170px">
        <img class="versus-sign" src="{% static "img/versus-sign.svg" %}" alt="versus sign" height="60px">
        <img class="versus-two" src="{% static "img/versus-pic-two.svg" %}" alt="versus pic two" height="170px">
    </div>
</div>
<div class="separator">
    <img src="{% static "img/camera.svg" %}" alt="camera" height="50px">
</div>
{% endblock %}
