{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Log in / Sign up" %}</h1>

    <p class="lead">
    {% blocktrans %}
    To create an account or log in, just enter your email address below. We will send you an email containing a link.
    Click it, and you will be logged in!
    {% endblocktrans %}
    </p>

    <form action="{% url "tokenauth:login" %}?next={{ request.GET.next }}" method="post" class="form-login">
        {% csrf_token %}
        <input name="email" type="email" placeholder="Email">
        <button type="submit">{% trans "Send link" %}</button>
    </form>
</div>
{% endblock %}
